<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.crmperformance.pterminal</id>
    <name><![CDATA[CRM性能P端]]></name>
    <active>yes</active>
    <version>1.0</version>
    <env-version>10.0</env-version>
    <jartime>2019-01-01</jartime>
    <vendor>crm.yuwh</vendor>
    <description><![CDATA[生产环境用性能插件]]></description>
    <change-notes>
        <![CDATA[[2019-03-11]初始化]]>
        <![CDATA[[2019-05-05]修复指标视图的报错，修改数据集名称]]>
        <![CDATA[[2019-05-30]加入用户反馈球功能]]>
    </change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.performance.PerformanceLocaleFinder"/>
        <JavaScriptFileHandler class="com.fr.plugin.performance.JavascriptFileLoader"/>
        <CssFileHandler class="com.fr.plugin.performance.CssFileLoader"/>
    </extra-core>
    <extra-designer>
        <TableDataDefineProvider class="com.fr.plugin.performance.design.table.PreDefinedViewTableDataDefine"/>
        <ServerTableDataDefineProvider class="com.fr.plugin.performance.design.table.PreDefinedViewTableDataDefine"/>
    </extra-designer>
    <function-recorder class="com.fr.plugin.performance.design.table.core.PreDefinedViewTableData"/>
</plugin>